@model WeatherMashup.Domain.Entities.Location


    <p>        
       @Html.ActionLink(string.Format("{0}, {1}", Model.CityName,Model.Country), "ShowWeather", new { PositionID = Model.LocationID })
    </p>