@model WeatherMashup.Domain.ViewModels.LocationName

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false);
    
    @Html.EditorFor(m => m.Name)
    <input type="submit" name="submit" />
   
}