@model IEnumerable<WeatherMashup.Domain.Datamodels.WeatherMashup.LocationModel>

@{
    ViewBag.Title = "ViewLocations";
}

<h2>Choose Location</h2>

@foreach (var item in Model)
{
    <p>
        
       @Html.ActionLink(string.Format("{0}, {1}", item.CityName,item.Country), "ShowWeather", new { PositionID = item.ID })
    </p>
}
