@model WeatherMashup.ViewModels.LocationView


@{
    ViewBag.Title = "ViewLocations";
}

<h2>Choose Location</h2>
<ul>
@foreach (var location in Model.Locations) 
{
    <li>
          @Html.ActionLink(string.Format("{0}, {1}", location.CityName,location.Country), "ShowWeather", new { PositionID = location.LocationID })
    </li>
}
    </ul>
<!--Html.DisplayFor(m=>m.Locations) -->
