<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <!-- Allow zombie DOS names to be captured by ASP.NET (/con, /com1, /lpt1, /aux, /prt, /nul, etc) -->
    <httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true" />
    <compilation debug="true" targetFramework="4.5"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!-- Set to 'On' to always show custom errors -->
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Catch IIS (e.g. RequestFiltering) 401, 403, 404 and 500 errors and redirect to ErrorController -->
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <clear />
      <error statusCode="401" responseMode="ExecuteURL" path="/Unauthorized" />
      <error statusCode="403" responseMode="ExecuteURL" path="/NotFound" />
      <error statusCode="404" responseMode="ExecuteURL" path="/NotFound" />
      <error statusCode="500" responseMode="ExecuteURL" path="/InternalServerError" />
    </httpErrors>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<connectionStrings><add name="MashupEntities" connectionString="metadata=res://*/DataModels.MashupModel.csdl|res://*/DataModels.MashupModel.ssdl|res://*/DataModels.MashupModel.msl;provider=System.Data.SqlClient;provider connection string='data source=172.16.214.1;initial catalog=1dv409_hg222dv_WeatherMashup;user id=appUser;password=&quot;1Br@Lösen=rd?&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /><add name="WeathermashupEntities" connectionString="metadata=res://*/DataModels.WeatherMashupModel.csdl|res://*/DataModels.WeatherMashupModel.ssdl|res://*/DataModels.WeatherMashupModel.msl;provider=System.Data.SqlClient;provider connection string='data source=172.16.214.1;initial catalog=1dv409_hg222dv_WeatherMashup;user id=appUser;password=&quot;1Br@Lösen=rd?&quot;;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>